<!DOCTYPE html>
<html>
	<head lang="en">
		<include file="Common/head" />
	</head>
	<body onload="load()">
		<include file="Common/top" />
		<div class="container-fluid main-content">
			<div class="page-title mytitle">
				<h1>
					<i class="icon-plus"></i>新增报告
					<a href="{:U('Project/index')}" class="pull-right"><i class="icon-list"></i>返回列表页</a>
					<!-- <a href="javascript:;" onclick="savepPoduct();" class="pull-right"><i class="icon-save"></i>保存报告</a>-->
				</h1>
			</div>
			<div class="row">
				<div class="col-sm-12 rcontent">
					<form class="form-horizontal" action="{:U('Project/save')}" method="post" id="form">
						<input type="hidden" name="id" id="id" value="{$project.id}">
						<div class="widget-container fluid-height tab-panel show">
							<div class="heading">
								<i class="icon-info"></i>具体信息</div>
							<div class="widget-content padded clearfix">
								<fieldset>
									<legend>基本信息</legend>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">送达地:</label>
										<div class="col-md-8">
											<volist name="sendfroms" id="tpo" key="tpkey">
												<if condition="$tpkey eq $project.sendfrom ">
												<label class="checkbox-inline"><input type="radio" name="sendfrom" value="{$tpkey}" checked><span>{$tpo}</span></label>
												<else />
												<label class="checkbox-inline"><input type="radio" name="sendfrom" value="{$tpkey}"><span>{$tpo}</span></label>
												</if>
										</volist>
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">用途:</label>
										<div class="col-md-8">
											<volist name="usetos" id="uo">
												<if condition="$uo.key eq $project['useto']">
												<label class="checkbox-inline"><input type="radio" name="useto" value="{$uo.key}" checked><span>{$uo.value}</span></label>
												<else />
												<label class="checkbox-inline"><input type="radio" name="useto" value="{$uo.key}"><span>{$uo.value}</span></label>
												</if>
										</volist>
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">报告编号:</label>
										<div class="col-md-8">
											<input name="rnum" id="rnum" maxlength="30" class="form-control" value="{$project.rnum}">
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">新旧情况:</label>
										<div class="col-md-8">
											<div class="col-md-8" hidden>
												<input type="text"  id="newold" value="{$project.newold}" class="form-control" >
											</div>
											<div class="col-md-8">
												<label class="checkbox-inline"><input type="radio" name="newold" value="新" id="new"><span>新</span></label>
												<label class="checkbox-inline"><input type="radio" name="newold" value="旧" id="old"><span>旧</span></label>
											</div>
										</div>
									</div>
									<div class="form-group col-md-12">
										<label class="control-label col-md-2">使用单位:</label>
										<div class="col-md-8">
											<input type="text" name="company" id="company" value="{$project.company}" maxlength="255" class="form-control">
										</div>
									</div>
									<div class="form-group col-md-12">
										<label class="control-label col-md-2">单位地址:</label>
										<div class="col-md-8">
											<input type="text" name="address" id="address" value="{$project.address}" maxlength="255" class="form-control">
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">联系人:</label>
										<div class="col-md-8">
											<input type="text" name="contact" id="contact" value="{$project.contact}" maxlength="30" class="form-control">
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">联系电话:</label>
										<div class="col-md-8">
											<input type="text" name="phone" id="phone" value="{$project.phone}" maxlength="20" class="form-control">
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">设备代码:</label>
										<div class="col-md-8">
											<input type="text" name="devnum" id="devnum" value="{$project.devnum}" maxlength="50" class="form-control">
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">安装位置:</label>
										<div class="col-md-8">
											<input type="text" name="installPosition" value="{$project.installposition}" id="installPosition" maxlength="255" class="form-control">
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">安全阀类型:</label>
										<div class="col-md-8" hidden>
											<input type="text"  id="type" value="{$project.type}" class="form-control" >
										</div>
											<div class="col-md-8">
												<label class="checkbox-inline"><input type="radio" name="type" value="弹簧式" id="type1"><span>弹簧式</span></label>
												<label class="checkbox-inline"><input type="radio" name="type" value="先导式" id="type2"><span>先导式</span></label>
												<label class="checkbox-inline"><input type="radio" name="type" value="重锤式" id="type3"><span>重锤式</span></label>
											</div>
										<!--</div>-->
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">安全阀型号:</label>
										<div class="col-md-8">
											<input type="text" name="model" id="model" value="{$project.model}" maxlength="50" class="form-control">
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">工作压力:</label>
										<div class="col-md-8">
											<div class="input-group">
									           <input type="text" name="workPressure" id="workPressure" value="{$project.workpressure}" dataType="decimal" ignore="ignore" class="form-control"><span class="input-group-addon">Mpa</span>
									        </div>
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">工作介质:</label>
										<div class="col-md-8">
											<input type="text" name="workMedium" id="workMedium" value="{$project.workmedium}" class="form-control">
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">要求整定压力:</label>
										<div class="col-md-8">
											<div class="input-group">
									           <input type="text" name="needPressure" id="needPressure" value="{$project.needpressure}" class="form-control" dataType="decimal" ignore="ignore"><span class="input-group-addon">Mpa</span>
									        </div>
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">执行标准:</label>
										<div class="col-md-8">
											<volist name="standards" id="so" key="skey">
												<label class="radio-inline"><span>{$so}</span></label>
											</volist>
										</div>
									</div>
									<div class="form-group col-md-6 clear">
										<label class="control-label col-md-4">校验方式:</label>
										<div class="col-md-8" hidden>
											<input type="text"  id="verifyType" value="{$project.verifytype}" class="form-control" >
										</div>
										<div class="col-md-8">
										<label class="checkbox-inline"><input type="radio" name="verifyType" value="离线校验" id="verifyType1"><span>离线校验</span></label>
										<label class="checkbox-inline"><input type="radio" name="verifyType" value="在线校验" id="verifyType2"><span>在线校验</span></label>
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">校验介质:</label>
										<div class="col-md-8">
											<input type="text" name="verifyMedium" id="verifyMedium" value="氮气" class="form-control" readonly>
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">整定压力:</label>
										<div class="col-md-8">
											<div class="input-group">
									           <input type="text" name="setPressure" id="setPressure" value="{$project.setpressure}" class="form-control" dataType="decimal" ignore="ignore"><span class="input-group-addon">Mpa</span>
									        </div>
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">密封试验压力:</label>
										<div class="col-md-8">
											<div class="input-group">
									           <input type="text" class="form-control" name="finalPressure" id="finalPressure" value="{$project.finalpressure}" dataType="decimal" ignore="ignore"><span class="input-group-addon">Mpa</span>
									        </div>
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">校验结果:</label>
										<div class="col-md-8">
											<div id="verifyResult" hidden>
											<input type="text" name="verifyResult" id="txtverifyResult" value="{$project.verifyresult}" class="form-control">
											</div>
											<select class="form-control" id="lstverifyResult" name="verifyResult">
												<option value="合格">合格</option>
												<option value="不合格">不合格</option>
											</select>

										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">校验标牌号:</label>
										<div class="col-md-8">
											<input type="text" name="verifyNum" id="verifyNum" value="{$project.verifynum}" class="form-control">
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">校验日期:</label>
										<div class="col-md-8">
											<div class="input-group">
												<input type="text" name="verifyDate" id="verifyDate" value="{$project.verifydate}" readonly="readonly" class="form-control datepicker">
												<span class="input-group-addon">
													<i class="icon-calendar"></i>
												</span>
											</div>
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">下次校验日期:</label>
										<div class="col-md-8">
											<div class="input-group">
												<input type="text" name="nextVerifyDate" id="nextVerifyDate" value="{$project.nextverifydate}" readonly="readonly" class="form-control datepicker">
												<span class="input-group-addon">
													<i class="icon-calendar"></i>
												</span>
											</div>
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">校验:</label>
										<div class="col-md-8">
											<div class="form-group">
									            <div class="col-sm-6">
									              <!--<input type="text" placeholder="校验人" id="verifyMan" name="verifyMan" value="{$project.verifyman}" class="form-control">-->
													<div hidden><input type="text"  id="txtverifyman" value="{$project.verifyman}" class="form-control"></div>
													<select id="verifyMan" class="form-control" name="verifyMan">
														<option value="0">请选择</option>
														<option value="__PUBLIC__/images/feng.jpg">丰晟涵</option>
														<option value="__PUBLIC__/images/pu.jpg">浦一顺</option>
														<option value="__PUBLIC__/images/zhou.jpg">周志刚</option>
														<option value="__PUBLIC__/images/ma.jpg">马龙</option>
														<option value="__PUBLIC__/images/xu.jpg">徐智杰</option>
													</select>
									            </div>
									            <div class="col-sm-6">
									            	<div class="input-group">
										              	<input type="text" placeholder="校验时间" id="verifyManDate" name="verifyManDate" value="{$project.verifymandate}" readonly="readonly" class="form-control datepicker"><span class="input-group-addon">
														<i class="icon-calendar"></i>
														</span>
													</div>
									            </div>
									         </div>
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">审核人:</label>
										<div class="col-md-8">
											<div class="form-group">
									            <div class="col-sm-6">
													<div hidden><input type="text"  id="txtcheckman" value="{$project.checkman}" class="form-control"></div>
													<select id="checkman" class="form-control" name="checkman">
														<option value="0">请选择</option>
														<option value="__PUBLIC__/images/feng.jpg">丰晟涵</option>
														<option value="__PUBLIC__/images/pu.jpg">浦一顺</option>
														<option value="__PUBLIC__/images/zhou.jpg">周志刚</option>
														<option value="__PUBLIC__/images/ma.jpg">马龙</option>
														<option value="__PUBLIC__/images/xu.jpg">徐智杰</option>
													</select>
									            </div>
									            <div class="col-sm-6">
									            	<div class="input-group">
										              	<input type="text" placeholder="审核时间" id="checkmandate" name="checkmandate" value="{$project.checkmandate}" readonly="readonly" class="form-control datepicker">
										              	<span class="input-group-addon">
															<i class="icon-calendar"></i>
														</span>
													</div>
									            </div>
									         </div>
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">审批:</label>
										<div class="col-md-8">
											<div class="form-group">
									            <div class="col-sm-6">
									              <div hidden><input type="text"  id="txtauditMan" value="{$project.auditman}" class="form-control"></div>
													<select id="auditMan" class="form-control" name="auditMan">
														<option value="0">请选择</option>
														<option value="__PUBLIC__/images/feng.jpg">丰晟涵</option>
														<option value="__PUBLIC__/images/pu.jpg">浦一顺</option>
														<option value="__PUBLIC__/images/zhou.jpg">周志刚</option>
														<option value="__PUBLIC__/images/ma.jpg">马龙</option>
														<option value="__PUBLIC__/images/xu.jpg">徐智杰</option>
													</select>
									            </div>
									            <div class="col-sm-6">
									            	<div class="input-group">
										              	<input type="text" placeholder="审批时间" id="auditManDate" name="auditManDate" value="{$project.auditmandate}" readonly="readonly" class="form-control datepicker">
										              	<span class="input-group-addon">
															<i class="icon-calendar"></i>
														</span>
													</div>
									            </div>
									         </div>
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">维护检修情况:</label>
										<div class="col-md-8">
										<volist name="repairs" id="ro">
												<if condition="$ro.isselected eq 1">
												<label class="checkbox-inline"><input type="checkbox" name="repairs[]" value="{$ro.id}" checked><span>{$ro.text}</span></label>
												<else />
												<label class="checkbox-inline"><input type="checkbox" name="repairs[]" value="{$ro.id}"><span>{$ro.text}</span></label>
												</if>
										</volist>
										</div>
									</div>
								</fieldset>
								<fieldset>
									<legend>校验记录</legend>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">公称通径:</label>
										<div class="col-md-8">
											<div class="input-group">
									           <input type="text" class="form-control" id="gctj" name="gctj" value="{$project.gctj}" dataType="decimal" ignore="ignore"><span class="input-group-addon">mm</span>
									        </div>
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">阀座口径:</label>
										<div class="col-md-8">
											<div class="input-group">
									           <input type="text" class="form-control" id="fztj" name="fztj" value="{$project.fztj}" dataType="decimal" ignore="ignore"><span class="input-group-addon">mm</span>
									        </div>
										</div>
									</div>
									<div class="form-group col-md-12">
										<label class="control-label col-md-2">制造单位:</label>
										<div class="col-md-8">
									           <input type="text" id="madeCompany" name="madeCompany" value="{$project.madecompany}" maxlength="150" class="form-control">
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">制造许可证编号:</label>
										<div class="col-md-8">
											<input name="mlnum" id="mlnum" value="{$project.mlnum}" maxlength="50" class="form-control" type="text">
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">压力级别范围:</label>
										<div class="col-md-8">
											<div class="col-sm-5">
											<div class="input-group">
												<input name="pLevelFrom" id="pLevelFrom" value="{$project.plevelfrom}" class="form-control" type="text" dataType="decimal" ignore="ignore">
												<span class="input-group-addon">Mpa</span>
											</div>
											</div>
											<label class="control-label col-sm-2" style="text-align: center;">至</label>
											<div class="col-sm-5">
											<div class="input-group">
												<input name="pLevelTo" id="pLevelTo" value="{$project.plevelto}" class="form-control" type="text" dataType="decimal" ignore="ignore">
												<span class="input-group-addon">Mpa</span>
											</div>
											</div>
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">产品编号:</label>
										<div class="col-md-8">
											<input name="sku" id="sku" value="{$project.sku}" maxlength="30" class="form-control" type="text">
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">出厂日期:</label>
										<div class="col-md-8">
											<div class="input-group">
												<input type="text" name="madeDate" id="madeDate" value="{$project.madedate}" readonly="readonly" class="form-control datepicker">
												<span class="input-group-addon">
													<i class="icon-calendar"></i>
												</span>
											</div>
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">校验编号:</label>
										<div class="col-md-8">
											<input name="recVerifyNum" id="recVerifyNum" value="{$project.recverifynum}" class="form-control" type="text">
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">校验介质温度:</label>
										<div class="col-md-8">
											<div class="input-group">
													<input name="temperature" id="temperature" value="{$project.temperature}" class="form-control" type="text" dataType="decimal" ignore="ignore">
													<span class="input-group-addon">℃</span>
												 </div>
										</div>
									</div>
									<div class="form-group col-md-12">
										<label class="control-label col-md-2">外观检查:</label>
										<div class="col-md-8">
									           <input type="text" id="wgjc" name="wgjc" value="{$project.wgjc}" class="form-control">
										</div>
									</div>
									<div class="form-group col-md-12">
										<label class="control-label col-md-2">拆卸检查维修:</label>
										<div class="col-md-8">
									           <input type="text" id="cxjcwx" name="cxjcwx" value="{$project.cxjcwx}" class="form-control">
										</div>
									</div>
									<div class="form-group col-md-12">
										<label class="control-label col-md-2">实际整定压力:</label>
										<div class="col-md-8">
											   <div class="col-sm-4">
									           <div class="input-group">
												<input name="truePressure1" id="truePressure1" value="{$project.truepressure1}" placeholder="第1次" class="form-control" type="text" dataType="decimal" ignore="ignore">
												<span class="input-group-addon">Mpa</span>
												</div>
												</div>
												<div class="col-sm-4">
												 <div class="input-group">
												<input name="truePressure2" id="truePressure2" value="{$project.truepressure2}" placeholder="第2次" class="form-control" type="text" dataType="decimal" ignore="ignore">
												<span class="input-group-addon">Mpa</span>
												</div>
												</div>
												<div class="col-sm-4">
												 <div class="input-group">
													<input name="truePressure3" id="truePressure3" value="{$project.truepressure3}" placeholder="第3次" class="form-control" type="text" dataType="decimal" ignore="ignore">
													<span class="input-group-addon">Mpa</span>
												 </div>
												</div>
										</div>
									</div>
									<div class="form-group col-md-12">
										<label class="control-label col-md-2">密封试验压力:</label>
										<div class="col-md-8">
											   <div class="col-sm-4">
									           <div class="input-group">
												<input name="closePressure1" id="closePressure1" value="{$project.closepressure1}" placeholder="第1次" class="form-control" type="text" dataType="decimal" ignore="ignore">
												<span class="input-group-addon">Mpa</span>
												</div>
												</div>
												<div class="col-sm-4">
												 <div class="input-group">
												<input name="closePressure2" id="closePressure2" value="{$project.closepressure2}" placeholder="第2次" class="form-control" type="text" dataType="decimal" ignore="ignore">
												<span class="input-group-addon">Mpa</span>
												</div>
												</div>
												<div class="col-sm-4">
												 <div class="input-group">
													<input name="closePressure3" id="closePressure3" value="{$project.closepressure3}" placeholder="第3次" class="form-control" type="text" dataType="decimal" ignore="ignore">
													<span class="input-group-addon">Mpa</span>
												 </div>
												</div>
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">校验结论:</label>
										<div class="col-md-8">
											<input name="recVerifyResult" id="recVerifyResult" value="{$project.recverifyresult}" class="form-control" type="text">
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">校验有效期:</label>
										<div class="col-md-8">
											<div class="input-group">
												<input type="text" name="verifyValidateDate" id="verifyValidateDate" value="{$project.verifyvalidatedate}" readonly="readonly" class="form-control datepicker">
												<span class="input-group-addon">
													<i class="icon-calendar"></i>
												</span>
											</div>
										</div>
									</div>
									<div class="form-group col-md-12">
										<label class="control-label col-md-2">备注:</label>
										<div class="col-md-8">
									           <input type="text" id="remarks" name="remarks" value="{$project.remarks}" class="form-control">
										</div>
									</div>
									<div class="form-group col-md-12">
										<label class="control-label col-md-6"></label>
										<div class="col-md-6">
											<input type="submit" value="保存报告" class="btn btn-primary">
										</div>
									</div>
								</fieldset>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<include file="Common/footer" />
		<script type="text/javascript" src="__PUBLIC__/js/customize/add.js">

		</script>
	</body>

</html>