<!DOCTYPE html>
<html>
	<head lang="en">
    <meta charset="utf-8">
    <link href="__PUBLIC__/css/screen.css" media="screen" rel="stylesheet">
	<link href="__PUBLIC__/css/print.css" media="print" rel="stylesheet">
	</head>
	<body>
		
	<div class="container-fluid main-content">
			
		
		<table class="data-table">
		<caption>安全阀校验记录</caption>		   
		     <tr>
        	<td colspan="2" class="w50"></td>
        	<td  class="w25">报告编号：</td>
        	<td class="w25"><strong>{$project.rnum}</strong></td>
        </tr>	
		    <tr>
	          <td class="w25">使用单位</td>
	          <td class="w75 hand-write" colspan="3">{$project.company}</td>
            </tr>
		    <tr>
		      <td class="w25">设备代码</td>
		      <td class="w25 hand-write">{$project.devnum}</td>
		      <td class="w25">要求整定压力</td>
		      <td class="w25 hand-write">{$project.needpressure} Mpa</td>
	        </tr>
		    <tr>
		      <td class="w25">工作介质</td>
		      <td class="w25 hand-write">{$project.workmedium}</td>
		      <td class="w25">安全阀型号</td>
		      <td class="w25 hand-write">{$project.model}</td>
	        </tr>
		    <tr>
		      <td class="w25">公称通径</td>
		      <td class="w25 hand-write">{$project.gctj} mm</td>
		      <td class="w25">阀座口径</td>
		      <td class="w25 hand-write">{$project.fztj} mm</td>
	        </tr>
		    <tr>
		      <td class="w25">制造单位</td>
		      <td colspan="3" class="w75 hand-write">{$project.madecompany}</td>
	        </tr>
		    <tr>
		      <td class="w25">制造许可证编号</td>
		      <td class="w25 hand-write">{$project.mlnum}</td>
		      <td class="w25">压力级别范围</td>
		      <td class="w25 hand-write">{$project.plevelfrom} Mpa至{$project.plevelto} Mpa</td>
	        </tr>
		    <tr>
		      <td class="w25">产品编号</td>
		      <td class="w25 hand-write">{$project.sku}</td>
		      <td class="w25">出厂日期</td>
		      <td class="w25 hand-write">{$project.madedate}</td>
	        </tr>
		    <tr>
		      <td class="w25">校验方式</td>
		      <td class="w25 hand-write">{$project.verifytype}</td>
		      <td class="w25">校验编号</td>
		      <td class="w25 hand-write">{$project.recverifynum}</td>
	        </tr>
		    <tr>
		      <td class="w25">校验介质</td>
		      <td class="w25 hand-write">{$project.verifymedium}</td>
		      <td class="w25">校验介质温度</td>
		      <td class="w25 hand-write">{$project.temperature} ℃</td>
	        </tr>
		    <tr>
		      <td class="w100" colspan="4">检查与校验</td>
	        </tr>
		    <tr>
		      <td class="w25">外观<br>检查</td>
		      <td class="w75 hand-write" colspan="3">{$project.wgjc}</td>
	        </tr>
		    <tr>
		      <td class="w25">拆卸<br>检查<br>维修</td>
		      <td colspan="3" class="w75 hand-write">{$project.cxjcwx} </td>
	        </tr>
		    <tr>
		      <td class="w25">试验次数</td>
		      <td class="w25">第1次</td>
		      <td class="w25">第2次</td>
		      <td class="w25">第3次</td>
	        </tr>
		    <tr>
		      <td class="w25">实际整定压力</td>
		      <td class="w25 hand-write">{$project.truepressure1} Mpa</td>
		      <td class="w25 hand-write">{$project.truepressure2} Mpa</td>
		      <td class="w25 hand-write">{$project.truepressure3} Mpa</td>
	        </tr>
		    <tr>
		      <td class="w25">密封试验压力</td>
		      <td class="w25 hand-write">{$project.closepressure1} Mpa</td>
		      <td class="w25 hand-write">{$project.closepressure2} Mpa</td>
		      <td class="w25 hand-write">{$project.closepressure3} Mpa</td>
	        </tr>
		    <tr>
		      <td class="w25">校验结论</td>
		      <td class="w25 hand-write">{$project.recverifyresult}</td>
		      <td class="w25">校验有效期</td>
		      <td class="w25 hand-write">{$project.verifyvalidatedate}</td>
	        </tr>
		    <tr>
		      <td colspan="4" class="w100 text-left">备注： <span class="hand-write">{$project.remarks}</span></td>
	        </tr>
		    <tr>
		      <td colspan="2" class="w50">校验： <span class="font1"><img alt="{$project.verifyman}" src="{:U('Project/fonts',array('font'=>$project['verifyman']))}"> </span> <span class="hand-write">{$project.verifymandate}</span></td>
		      <td colspan="2" class="w50">校验报告编号：</td>
	        </tr>
		    <tr>
		      <td colspan="4" class="w100 text-right">苏州中特安安全阀检测研究有限公司 </td>
	        </tr>
		    <tr>
		      <td colspan="4" class="w100 text-right">电话：0512-65786922   </td>
	        </tr>	     
    </table>
    <button class="printbtn" onclick="window.print();">打印</button>
    </div>	
    <script type="text/javascript">
	 function pagesetup_null()
	 {   

	     var RegWsh = new ActiveXObject("WScript.Shell");
	     hkey_key="header";
	     RegWsh.RegWrite(hkey_root+hkey_path+hkey_key,"");
	     hkey_key="footer";
	     RegWsh.RegWrite(hkey_root+hkey_path+hkey_key,"");

	 }
	 pagesetup_null();
	 </script>
	</body>

</html>