<!DOCTYPE html>
<html>
	<head lang="en">
		<link href="__PUBLIC__/css/screen.css" media="screen" rel="stylesheet">
		<link href="__PUBLIC__/css/print.css" media="print" rel="stylesheet">
	</head>
	<body>
		<div class="container-fluid main-content">
			<div class="row">
				<div class="col-sm-12 rcontent">
					<form class="form-horizontal" action="{:U('Project/save')}" method="post" id="form">
						<input type="hidden" name="id" id="id" value="{$project.id}">
						<div class="widget-container fluid-height tab-panel show">
							<div class="widget-content padded clearfix">
								<fieldset>
									<legend>基本信息</legend>
									<div class="form-group col-md-12">
										<label class="control-label col-md-2">报告编号:</label>
										<div class="col-md-8">
											<input name="rnum" id="rnum" maxlength="30" class="form-control" value="{$project.rnum}">
										</div>
									</div>
									<div class="form-group col-md-12">
										<label class="control-label col-md-2">使用单位:</label>
										<div class="col-md-8">
											<input type="text" name="company" id="company" value="{$project.company}" maxlength="255" class="form-control">
										</div>
									</div>
									<div class="form-group col-md-12">
										<label class="control-label col-md-2">单位地址:</label>
										<div class="col-md-8">
											<input type="text" name="address" id="address" value="{$project.address}" maxlength="255" class="form-control">
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">联系人:</label>
										<div class="col-md-8">
											<input type="text" name="contact" id="contact" value="{$project.contact}" maxlength="30" class="form-control">
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">联系电话:</label>
										<div class="col-md-8">
											<input type="text" name="phone" id="phone" value="{$project.phone}" maxlength="20" class="form-control">
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">设备代码:</label>
										<div class="col-md-8">
											<input type="text" name="devnum" id="devnum" value="{$project.devnum}" maxlength="50" class="form-control">
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">安装位置:</label>
										<div class="col-md-8">
											<input type="text" name="installPosition" value="{$project.installposition}" id="installPosition" maxlength="255" class="form-control">
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">安全阀类型:</label>
										<div class="col-md-8">
										<volist name="types" id="to">
												<if condition="$to.checked eq 1 ">
												<label class="checkbox-inline"><input type="checkbox" name="type[]" value="{$to.id}" checked><span>{$to.text}</span></label>
												<else />
												<label class="checkbox-inline"><input type="checkbox" name="type[]" value="{$to.id}"><span>{$to.text}</span></label>
												</if>
										</volist>
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">安全阀型号:</label>
										<div class="col-md-8">
											<input type="text" name="model" id="model" value="{$project.model}" maxlength="50" class="form-control">
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">工作压力:</label>
										<div class="col-md-8">
											<div class="input-group">
									           <input type="text" name="workPressure" id="workPressure" value="{$project.workpressure}" dataType="n" ignore="ignore" class="form-control"><span class="input-group-addon">Mpa</span>
									        </div>
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">工作介质:</label>
										<div class="col-md-8">
											<input type="text" name="workMedium" id="workMedium" value="{$project.workmedium}" class="form-control">
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">要求整定压力:</label>
										<div class="col-md-8">
											<div class="input-group">
									           <input type="text" name="needPressure" id="needPressure" value="{$project.needpressure}" class="form-control" dataType="n" ignore="ignore"><span class="input-group-addon">Mpa</span>
									        </div>
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">执行标准:</label>
										<div class="col-md-8">
											<volist name="standards" id="so" key="skey">
												<if condition="$skey eq $project.standard ">
												<label class="radio-inline"><input name="standard" value="{$skey}" type="radio" checked><span>{$so}</span></label>
												<else />
												<label class="radio-inline"><input name="standard" value="{$skey}" type="radio"><span>{$so}</span></label>
												</if>
											</volist>
										</div>
									</div>
									<div class="form-group col-md-6 clear">
										<label class="control-label col-md-4">校验方式:</label>
										<div class="col-md-8">
											<input type="text" name="verifyType" id="verifyType" value="{$project.verifytype}" class="form-control">
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">校验介质:</label>
										<div class="col-md-8">
											<input type="text" name="verifyMedium" id="verifyMedium" value="{$project.verifymedium}" class="form-control">
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">整定压力:</label>
										<div class="col-md-8">
											<div class="input-group">
									           <input type="text" name="setPressure" id="setPressure" value="{$project.setpressure}" class="form-control" dataType="n" ignore="ignore"><span class="input-group-addon">Mpa</span>
									        </div>
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">密封试验压力:</label>
										<div class="col-md-8">
											<div class="input-group">
									           <input type="text" class="form-control" name="finalPressure" id="finalPressure" value="{$project.finalpressure}" dataType="n" ignore="ignore"><span class="input-group-addon">Mpa</span>
									        </div>
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">校验结果:</label>
										<div class="col-md-8">
											<input type="text" name="verifyResult" id="verifyResult" value="{$project.verifyresult}" class="form-control">
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">校验标牌号:</label>
										<div class="col-md-8">
											<input type="text" name="verifyNum" id="verifyNum" value="{$project.verifynum}" class="form-control">
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">校验日期:</label>
										<div class="col-md-8">
											<div class="input-group">
												<input type="text" name="verifyDate" id="verifyDate" value="{$project.verifydate}" readonly="readonly" class="form-control datepicker">
												<span class="input-group-addon">
													<i class="icon-calendar"></i>
												</span>
											</div>
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">下次校验日期:</label>
										<div class="col-md-8">
											<div class="input-group">
												<input type="text" name="nextVerifyDate" id="nextVerifyDate" value="{$project.nextverifydate}" readonly="readonly" class="form-control datepicker">
												<span class="input-group-addon">
													<i class="icon-calendar"></i>
												</span>
											</div>
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">校验:</label>
										<div class="col-md-8">
											<div class="form-group">
									            <div class="col-sm-6">
									              <input type="text" placeholder="校验人" id="verifyMan" name="verifyMan" value="{$project.verifyman}" class="form-control">
									            </div>
									            <div class="col-sm-6">
									            	<div class="input-group">
										              	<input type="text" placeholder="校验时间" id="verifyManDate" name="verifyManDate" value="{$project.verifymandate}" readonly="readonly" class="form-control datepicker"><span class="input-group-addon">
														<i class="icon-calendar"></i>
														</span>
													</div>
									            </div>
									         </div>
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">审批:</label>
										<div class="col-md-8">
											<div class="form-group">
									            <div class="col-sm-6">
									              <input type="text" placeholder="审批人" id="auditMan" name="auditMan" value="{$project.auditman}" class="form-control">
									            </div>
									            <div class="col-sm-6">
									            	<div class="input-group">
										              	<input type="text" placeholder="审批时间" id="auditManDate" name="auditManDate" value="{$project.auditmandate}" readonly="readonly" class="form-control datepicker">
										              	<span class="input-group-addon">
															<i class="icon-calendar"></i>
														</span>
													</div>
									            </div>
									         </div>
										</div>
									</div>
								</fieldset>
								<fieldset>
									<legend>校验记录</legend>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">公称通径:</label>
										<div class="col-md-8">
											<div class="input-group">
									           <input type="text" class="form-control" id="gctj" name="gctj" value="{$project.gctj}" dataType="n" ignore="ignore"><span class="input-group-addon">mm</span>
									        </div>
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">阀座口径:</label>
										<div class="col-md-8">
											<div class="input-group">
									           <input type="text" class="form-control" id="fztj" name="fztj" value="{$project.fztj}" dataType="n" ignore="ignore"><span class="input-group-addon">mm</span>
									        </div>
										</div>
									</div>
									<div class="form-group col-md-12">
										<label class="control-label col-md-2">制造单位:</label>
										<div class="col-md-8">
									           <input type="text" id="madeCompany" name="madeCompany" value="{$project.madecompany}" maxlength="150" class="form-control">
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">制造许可证编号:</label>
										<div class="col-md-8">
											<input name="mlnum" id="mlnum" value="{$project.mlnum}" maxlength="50" class="form-control" type="text">
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">压力级别范围:</label>
										<div class="col-md-8">
											<div class="col-sm-5">
											<div class="input-group">
												<input name="pLevelFrom" id="pLevelFrom" value="{$project.plevelfrom}" class="form-control" type="text" dataType="n" ignore="ignore">
												<span class="input-group-addon">Mpa</span>
											</div>
											</div>
											<label class="control-label col-sm-2" style="text-align: center;">至</label>
											<div class="col-sm-5">
											<div class="input-group">
												<input name="pLevelTo" id="pLevelTo" value="{$project.plevelto}" class="form-control" type="text" dataType="n" ignore="ignore">
												<span class="input-group-addon">Mpa</span>
											</div>
											</div>
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">产品编号:</label>
										<div class="col-md-8">
											<input name="sku" id="sku" value="{$project.sku}" maxlength="30" class="form-control" type="text">
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">出厂日期:</label>
										<div class="col-md-8">
											<div class="input-group">
												<input type="text" name="madeDate" id="madeDate" value="{$project.madedate}" readonly="readonly" class="form-control datepicker">
												<span class="input-group-addon">
													<i class="icon-calendar"></i>
												</span>
											</div>
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">校验编号:</label>
										<div class="col-md-8">
											<input name="recVerifyNum" id="recVerifyNum" value="{$project.recverifynum}" class="form-control" type="text">
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">校验介质温度:</label>
										<div class="col-md-8">
											<div class="input-group">
													<input name="temperature" id="temperature" value="{$project.temperature}" class="form-control" type="text" dataType="n" ignore="ignore">
													<span class="input-group-addon">℃</span>
												 </div>
										</div>
									</div>
									<div class="form-group col-md-12">
										<label class="control-label col-md-2">外观检查:</label>
										<div class="col-md-8">
									           <input type="text" id="wgjc" name="wgjc" value="{$project.wgjc}" class="form-control">
										</div>
									</div>
									<div class="form-group col-md-12">
										<label class="control-label col-md-2">拆卸检查维修:</label>
										<div class="col-md-8">
									           <input type="text" id="cxjcwx" name="cxjcwx" value="{$project.cxjcwx}" class="form-control">
										</div>
									</div>
									<div class="form-group col-md-12">
										<label class="control-label col-md-2">实际整定压力:</label>
										<div class="col-md-8">
											   <div class="col-sm-4">
									           <div class="input-group">
												<input name="truePressure1" id="truePressure1" value="{$project.truepressure1}" placeholder="第1次" class="form-control" type="text" dataType="n" ignore="ignore">
												<span class="input-group-addon">Mpa</span>
												</div>
												</div>
												<div class="col-sm-4">
												 <div class="input-group">
												<input name="truePressure2" id="truePressure2" value="{$project.truepressure2}" placeholder="第2次" class="form-control" type="text" dataType="n" ignore="ignore">
												<span class="input-group-addon">Mpa</span>
												</div>
												</div>
												<div class="col-sm-4">
												 <div class="input-group">
													<input name="truePressure3" id="truePressure3" value="{$project.truepressure3}" placeholder="第3次" class="form-control" type="text" dataType="n" ignore="ignore">
													<span class="input-group-addon">Mpa</span>
												 </div>
												</div>
										</div>
									</div>
									<div class="form-group col-md-12">
										<label class="control-label col-md-2">密封试验压力:</label>
										<div class="col-md-8">
											   <div class="col-sm-4">
									           <div class="input-group">
												<input name="closePressure1" id="closePressure1" value="{$project.closepressure1}" placeholder="第1次" class="form-control" type="text" dataType="n" ignore="ignore">
												<span class="input-group-addon">Mpa</span>
												</div>
												</div>
												<div class="col-sm-4">
												 <div class="input-group">
												<input name="closePressure2" id="closePressure2" value="{$project.closepressure2}" placeholder="第2次" class="form-control" type="text" dataType="n" ignore="ignore">
												<span class="input-group-addon">Mpa</span>
												</div>
												</div>
												<div class="col-sm-4">
												 <div class="input-group">
													<input name="closePressure3" id="closePressure3" value="{$project.closepressure3}" placeholder="第3次" class="form-control" type="text" dataType="n" ignore="ignore">
													<span class="input-group-addon">Mpa</span>
												 </div>
												</div>
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">校验结论:</label>
										<div class="col-md-8">
											<input name="recVerifyResult" id="recVerifyResult" value="{$project.recverifyresult}" class="form-control" type="text">
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label col-md-4">校验有效期:</label>
										<div class="col-md-8">
											<div class="input-group">
												<input type="text" name="verifyValidateDate" id="verifyValidateDate" value="{$project.verifyvalidatedate}" readonly="readonly" class="form-control datepicker">
												<span class="input-group-addon">
													<i class="icon-calendar"></i>
												</span>
											</div>
										</div>
									</div>
									<div class="form-group col-md-12">
										<label class="control-label col-md-2">备注:</label>
										<div class="col-md-8">
									           <input type="text" id="remarks" name="remarks" value="{$project.remarks}" class="form-control">
										</div>
									</div>
									<div class="form-group col-md-12">
										<label class="control-label col-md-6"></label>
										<div class="col-md-6">
											<input type="submit" value="保存报告" onclick="window.print();" class="btn btn-primary">
										</div>
									</div>
								</fieldset>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>