<div id="toTop" style="background:#6289F6;color:#444;width:60px;
	height:60px;font-size:48px;line-height:60px;border-radius:50%;position:fixed;
	z-index:9999;bottom:30px;right:50px;text-align:center;cursor:pointer;"><i class="icon-arrow-up"></i></div>
<script src="__PUBLIC__/js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/Validform_v5.3.2_min.js"></script>
<script src="__PUBLIC__/js/Validform_Datatype.js"></script>
<script src="__PUBLIC__/js/alertify.min.js"></script>
<script src="__PUBLIC__/js/bootstrap-datetimepicker.min.js"></script>
<script src="__PUBLIC__/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="__PUBLIC__/js/common.js"></script>